@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #1d2b1e;
  color: #eeeeee;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.i-m-header.is-open .i-m-header-background {
  left: 0;
}
.i-m-header-button-wrapper {
  margin-left: auto;
}
.i-m-header-icon {
  display: none;
}

.i-m-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.i-m-navigation-list.is-open {
  right: 0;
}
.i-m-header-icon-menu {
  display: block;
}

.i-m-header-icon-button.is-open .i-m-header-icon-menu {
  display: none;
}

.i-m-header-icon-button.is-open .i-m-header-icon-close {
  display: block;
}

.i-m-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 56px;
  background: #0e190f;
}

.i-m-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: #0e190f;
}
.i-m-header.is-open .i-m-header-background {
  left: 0;
}
.i-m-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.i-m-header-icon-menu {
  display: block;
}

.i-m-header-icon-button.is-open .i-m-header-icon-menu {
  display: none;
}

.i-m-header-icon-button.is-open .i-m-header-icon-close {
  display: block;
}

.i-m-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 12px 24px;
  position: relative;
}

.i-m-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: auto;
  transition: 0.3s;
  z-index: 999;
  padding: 16px;
  border-radius: 0px 0px 12px 12px;
  gap: 12px;
  background: linear-gradient(180deg, #0e190f 0%, #1d2b1e 100%);
}

.i-m-navigation-list.is-open {
  right: 0;
}

.i-m-navigation-link {
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: #ffffff;
  font-family: Barlow Semi Condensed;
  font-weight: 300;
  font-style: Light;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  padding: 8px;
  border-bottom: 1px solid transparent;
  display: block;
  width: 343px;
  text-align: center;
}

.i-m-navigation-link:hover,
.i-m-navigatioт-link:focus {
  color: #eeeeee;
  border-bottom: 1px solid #f4c23c;
}
.i-m-navigation-item-terms {
  display: flex;
  gap: 43px;
  margin-top: 30px;
}
.i-m-navigation-item-desk {
  width: auto;
  text-decoration: underline;
}
.i-m-header.is-open {
  background-color: transparent;
}

.i-m-navigation-img {
  display: none;
}
.i-m-header-terms {
  height: 56px;
  background-color: transparent;
}

.i-m-header-terms-img {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  padding-top: 0px;
  padding-left: 16px;
  font-family: Barlow Semi Condensed;
  font-weight: 400;
  font-style: Regular;
  font-size: 12px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  text-decoration: none;
  color: #0e190f;
}
@media screen and (min-width: 1204px) {
  .i-m-navigation-img {
    display: block;
    margin-right: 312px;
  }
  .i-m-policy-terms-header-icon-menu {
    display: none;
  }
  .i-m-header-button-wrapper {
    display: none;
  }
  .i-m-header {
    width: 100%;
    height: 64px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    background: #0e190f66;
  }

  .i-m-header-icon-button {
    display: none;
  }
  .i-m-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    padding: 0 0px;
    margin: auto;
  }

  .i-m-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 24px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: transparent;
  }

  .i-m-navigation-link {
    width: fit-content;
    font-family: Barlow Semi Condensed;
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    padding: 8px;
  }

  .i-m-navigation-item-desk {
    display: none;
  }
  .i-m-header-terms {
    height: 80px;
    background-color: transparent;
  }

  .i-m-header-terms-img {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    padding-top: 0px;
    padding-left: 136px;
  }
}

.i-m-home {
  background: #0e190f;
}
.i-m-home-container {
  width: 375px;
  height: 812px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/1.\ Home\ mob.png");
  margin: auto;
  padding: 84px 16px 0px;
  margin: auto;
}

.i-m-home-div {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.i-m-home-title {
  font-family: Barlow Semi Condensed;
  font-weight: 500;
  font-style: Medium;
  font-size: 40px;
  leading-trim: NONE;
  line-height: 130%;
  letter-spacing: -1%;
  text-align: center;
  text-transform: uppercase;
  color: #b9d4ba;
  text-shadow: 1px 2px 0px #5e8160;
}

.i-m-home-text {
  font-family: Barlow Semi Condensed;
  font-weight: 300;
  font-style: Light;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  padding: 32px 4px 0;
}
.i-m-home-list {
  justify-content: center;
  display: flex;
  gap: 7px;
}
.i-m-home-item {
  width: 80px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  font-family: Barlow Semi Condensed;
  font-weight: 400;
  font-style: Regular;
  font-size: 10px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: lowercase;
}
.i-m-home-img {
  width: 24px;
}
.i-m-home-div-two {
  gap: 16px;
}
.i-m-home-image {
  box-shadow: 2px 2px 2px 0px #999cae4d;
  width: 240px;
  margin: auto;
  border-radius: 12px;
  border-width: 1px;
  margin-top: 40px;
  transition: all 0.3s ease-in-out;
}

.i-m-home-image:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 14px 4px #1d2b1e inset;
}
.i-m-home-text-two {
  font-family: Barlow Semi Condensed;
  font-weight: 400;
  font-style: Regular;
  font-size: 10px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}
@media screen and (min-width: 1204px) {
  .i-m-home-container {
    width: 1440px;
    height: 808px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/img/home/1.\ HOME.png");
    margin: auto;
    padding: 144px 120px 120px 704px;
    margin: auto;
  }

  .i-m-home-div {
    display: flex;
    flex-direction: row;
    gap: 32px;
    align-items: center;
    margin-top: 48px;
  }

  .i-m-home-title {
    font-family: Barlow Semi Condensed;
    font-weight: 500;
    font-style: Medium;
    font-size: 64px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-transform: uppercase;
    text-align: left;
  }

  .i-m-home-text {
    font-family: Barlow Semi Condensed;
    font-weight: 300;
    font-style: Light;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    width: 372px;
    text-align: left;

    padding: 0;
  }
  .i-m-home-list {
    justify-content: start;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .i-m-home-item {
    width: 212px;

    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    font-family: Barlow Semi Condensed;
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-transform: lowercase;
  }

  .i-m-home-div-two {
    gap: 148px;
    align-items: end;
    height: 64px;
  }

  .i-m-home-text-two {
    font-family: Barlow Semi Condensed;
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }
}
.i-m-about {
  background: #1d2b1e;
}
.i-m-about-container {
  width: 375px;
  padding: 64px 0px 56px;
  margin: auto;
}
.i-m-about-title {
  color: #b9d4ba;
  font-family: Barlow Semi Condensed;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  border-bottom: 1px solid #f4c23c80;
  width: 375px;
  padding: 8px 0;
}
.i-m-about-title-two {
  font-family: Barlow Semi Condensed;
  font-weight: 400;
  font-style: Regular;
  font-size: 28px;
  leading-trim: NONE;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  padding: 56px 46px 40px;
}
.i-m-about-text {
  color: #b9d4ba;
  font-family: Barlow Semi Condensed;
  font-weight: 300;
  font-style: Light;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  padding: 0 41px;
}
.i-m-about-text-div {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 32px 16px 0;
  font-family: Barlow Semi Condensed;
  font-weight: 300;
  font-style: Light;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1204px) {
  .i-m-about-container {
    width: 1440px;
    padding: 64px 0px;
  }
  .i-m-about-title {
    font-family: Barlow Semi Condensed;
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;

    width: 1440px;
  }
  .i-m-about-title-two {
    font-family: Barlow Semi Condensed;
    font-weight: 400;
    font-style: Regular;
    font-size: 32px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-transform: uppercase;

    padding: 56px 0px 48px;
  }
  .i-m-about-text {
    font-family: Barlow Semi Condensed;
    font-weight: 300;
    font-style: Light;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;

    padding: 0 352px;
  }
  .i-m-about-text-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
    padding: 40px 233px 0;
    font-family: Barlow Semi Condensed;
    font-weight: 300;
    font-style: Light;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;

    text-align: left;
  }
}
.i-m-why {
  margin: auto;
  background: #334934;
}

.i-m-why-container {
  width: 375px;
  height: 715px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/why/3.\ HOW\ TO\ PLAY\ mob.png");
  margin: auto;
  padding: 64px 0;
}
.i-m-why-list {
  padding: 0px 20px 32px;
}
.i-m-why-lists {
  display: none;
}
.i-m-why-item {
  margin: 0 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 1px 2px 0px #5e8160;
  background: #1d2b1e;
  width: 240px;
  height: 328px;
  gap: 12px;
  border-radius: 16px;
  padding-top: 32px;
  padding-right: 16px;
  padding-bottom: 32px;
  padding-left: 16px;
  font-family: Barlow Semi Condensed;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}
.i-m-why-texts {
  font-family: Barlow Semi Condensed;
  font-weight: 400;
  font-style: Regular;
  font-size: 10px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 8%;
  text-align: center;
  padding: 0 52px;
}

@media screen and (min-width: 1204px) {
  .i-m-why-container {
    width: 1440px;
    height: 700px;

    background-image: url("/img/why/3.\ HOW\ TO\ PLAY.png");
    margin: auto;
    padding: 64px 0;
  }
  .i-m-why-list {
    display: none;
  }
  .i-m-why-lists {
    display: flex;
    gap: 32px;
    justify-content: center;
  }
  .i-m-why-item {
    margin: 0;
    padding: 32px 16px;
    width: 240;
    height: 328;
    padding-top: 32px;
    padding-right: 16px;
    padding-bottom: 32px;
    padding-left: 16px;
    gap: 12px;
    angle: 0 deg;
    opacity: 1;
    border-radius: 16px;
  }
  .i-m-why-texts {
    font-family: Barlow Semi Condensed;
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 8%;

    padding: 40px 0 0px;
  }
}

.i-m-uniqueness {
  margin: auto;
}
.i-m-uniqueness-container {
  padding: 64px 0px 54px;
  width: 375px;
  margin: auto;
}
.i-m-about-text-uni {
  padding-left: 26px;
  padding-right: 26px;
}
.i-m-uniqueness-list {
  padding: 40px 16px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 17px;
}
.i-m-uniqueness-item {
  width: 155.5px;
  height: 109px;
}
.i-m-uniqueness-img {
  width: 163px;
  height: 182px;
}
.i-m-uniqueness-text-bold {
  font-family: Barlow Semi Condensed;
  font-weight: 300;
  font-style: Light;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  color: #b9d4ba;
}
.i-m-uniqueness-text {
  font-family: Barlow Semi Condensed;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  padding-top: 16px;
}

@media screen and (min-width: 1204px) {
  .i-m-uniqueness-container {
    width: 1440px;
    padding: 64px 0px;
  }
  .i-m-about-text-uni {
    padding-left: 329px;
    padding-right: 329px;
  }
  .i-m-uniqueness-list {
    padding: 48px 219px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
    height: 280px;
  }
  .i-m-uniqueness-item {
    width: 253px;
    height: 100px;
  }
  .i-m-uniqueness-img {
    width: 200px;
    height: 225px;
  }
  .i-m-uniqueness-text-bold {
    font-family: Barlow Semi Condensed;
    font-weight: 300;
    font-style: Light;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
  .i-m-uniqueness-text {
    font-family: Barlow Semi Condensed;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;

    padding-top: 16px;
  }
}
.i-m-how {
  margin: auto;
  background: #0e190f;
}
.i-m-how-container {
  margin: auto;
  width: 375px;
  height: 814px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/how/5.\ FOREST\ ISLANDS\ MAP\ mob.png");
  padding: 64px 0 54px;
}
.i-m-how-text-title {
  font-family: Barlow Semi Condensed;
  font-weight: 300;
  font-style: Light;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  padding: 0 16px;
}
.i-m-how-list {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: Barlow Semi Condensed;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  align-items: center;
}

.i-m-how-img {
  width: 24px;
}

@media screen and (min-width: 1204px) {
  .i-m-how-container {
    margin: auto;
    width: 1440px;
    height: 927px;
    background-image: url("/img/how/5.\ FOREST\ ISLANDS\ MAP\ .png");
    padding: 64px 0px 0;
  }
  .i-m-how-text-title {
    font-family: Barlow Semi Condensed;
    font-weight: 300;
    font-style: Light;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    padding: 0;
  }
  .i-m-how-list {
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
    font-family: Barlow Semi Condensed;
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .i-m-how-img {
    width: 24px;
  }
}

.i-m-characters {
  margin: auto;
  background: #1d2b1e;
}
.i-m-characters-container {
  padding: 64px 0px 54px;
  margin: auto;
  width: 375px;
}
.i-m-characters-title-two {
  padding-left: 16px;
  padding-right: 16px;
}
.i-m-characters-list {
  display: flex;
  flex-direction: column;
  padding: 0px 22px 0;
  gap: 24px;
  align-items: center;
}
.i-m-characters-text-bold {
  font-family: Barlow Semi Condensed;
  font-weight: 300;
  font-style: Light;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 170%;
  letter-spacing: 0%;
  text-align: center;
}
.i-m-characters-image {
  width: 200px;
}
.i-m-characters-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.i-m-characters-img {
  width: 24px;
}

.i-m-characters-text {
  font-family: Barlow Semi Condensed;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  width: 328px;
  height: 56px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 16px;
}

@media screen and (min-width: 1204px) {
  .i-m-characters-container {
    padding: 64px 0px;
    margin: auto;
    width: 1440px;
  }
  .i-m-characters-title-two {
    padding-left: 16px;
    padding-right: 16px;
  }
  .i-m-characters-list {
    display: flex;
    flex-direction: row;
    padding: 0px 258px 0;
    gap: 32px;
    align-items: center;
  }
  .i-m-characters-text-bold {
    font-family: Barlow Semi Condensed;
    font-weight: 300;
    font-style: Light;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 170%;
    letter-spacing: 0%;
    text-align: left;
    width: 331px;
  }

  .i-m-characters-item {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .i-m-characters-text {
    font-family: Barlow Semi Condensed;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    width: 328px;
    height: 56px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 16px;
  }
}

.i-m-reviews {
  margin: auto;
  background: #334934;
}
.i-m-reviews-container {
  margin: auto;
  padding: 64px 0px 0;

  width: 375px;
  height: 1022px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-image: url("/img/7.\ OFFLINE\ &\ CALM\ PLAY\ mob.png");
}
.i-m-reviews-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-family: Barlow Semi Condensed;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 170%;
  letter-spacing: 0%;
  text-align: center;
  padding: 0 16px;
  margin-top: -20px;
}

@media screen and (min-width: 1204px) {
  .i-m-reviews-container {
    margin: auto;
    padding: 64px 0px;

    width: 1440px;
    height: 583px;

    background-image: url("/img/7.\ OFFLINE\ &\ CALM\ PLAY.png");
  }
  .i-m-reviews-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
    font-family: Barlow Semi Condensed;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 170%;
    letter-spacing: 0%;
    text-align: center;

    padding: 0 197px;
    margin-top: 0px;
  }
  .i-m-reviews-img {
    width: 343px;
    height: 264px;
    angle: 0 deg;
    opacity: 1;
    border-radius: 12px;
    border-width: 1px;
  }
}

.i-m-faq {
  margin: auto;
  background: #1d2b1e;
}
.i-m-faq-container {
  padding: 64px 0px 56px;
  width: 375px;
  margin: auto;
}
.i-m-faq-list {
  padding: 56px 16px 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.i-m-faq-item {
  padding: 4px;
}

.i-m-faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Barlow Semi Condensed;
  font-weight: 300;
  font-style: Light;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  border-bottom: 2px solid #334934;
  padding: 4px 0;
}

.i-m-faq-answer {
  font-family: Barlow Semi Condensed;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}
.i-m-toggle-button {
  background: none;
  border: none;
  cursor: pointer;
}

.i-m-toggle-button img {
  width: 24px;
  transition: transform 0.3s ease;
}
.i-m-faq-answer {
  max-height: 0;
  overflow: hidden;
  transition:
    max-height 0.4s ease,
    opacity 0.4s ease;
  opacity: 0;
}

.i-m-faq-answer.open {
  max-height: 200px;
  opacity: 1;
  padding-top: 16px;
}

.i-m-toggle-button img.rotated {
  transform: rotate(180deg);
}
@media screen and (min-width: 1204px) {
  .i-m-faq-container {
    padding: 64px 0px;
    width: 1440px;
    margin: auto;
  }
  .i-m-faq-list {
    padding: 56px 223px 0;
  }

  .i-m-faq-item {
    padding: 12px 24px;
  }

  .i-m-faq-question {
    font-family: Barlow Semi Condensed;
    font-weight: 300;
    font-style: Light;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;

    padding: 8px 0;
  }

  .i-m-faq-answer {
    font-family: Barlow Semi Condensed;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .i-m-toggle-button {
    background: none;
    border: none;
    cursor: pointer;
  }

  .i-m-toggle-button img {
    width: 24px;
    transition: transform 0.3s ease;
  }
}
.i-m-policy-terms {
  background: #eeeeee;
}
.i-m-policy-terms-container {
  padding: 112px 16px 64px;
  width: 375px;
  margin: auto;
  background: #eeeeee;
  color: #0e190f;
  font-family: Barlow Semi Condensed;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 140%;
  letter-spacing: 0%;
}

.i-m-policy-terms-container h1 {
  text-transform: uppercase;
  margin-bottom: 48px;
  font-family: Barlow Semi Condensed;
  font-weight: 500;
  font-style: Medium;
  font-size: 32px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  color: #5e8160;
  text-shadow: 1px 2px 0px #334934;
}
.i-m-policy-terms-container h2 {
  margin: 24px 0 16px;
  font-family: Barlow Semi Condensed;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 140%;
  letter-spacing: 0%;
}
.i-m-policy-terms-container ul {
  list-style-type: disc;
  margin-left: 20px;
}

.i-m-email-link {
  color: inherit;
}
@media screen and (min-width: 1204px) {
  .i-m-policy-terms-container {
    padding: 144px 223px 64px;
    width: 1440px;
  }
  .i-m-policy-terms-container h1 {
    font-family: Barlow Semi Condensed;
    font-weight: 500;
    font-style: Medium;
    font-size: 48px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 56px;
  }
}

.i-m-footer-container {
  width: 375px;
  padding: 64px 16px 0;
  margin: auto;
  display: flex;
  flex-direction: column;

  align-items: center;
  gap: 32px;
  margin: auto;
  width: 375px;
  height: 469px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/_footer_mob.png");
}

.i-m-footer-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 34px;
}

.i-m-footer-text {
  text-decoration: none;
  color: inherit;
  font-family: Barlow Semi Condensed;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: 0%;
  text-decoration-thickness: 0%;
  text-decoration-skip-ink: auto;
}

.i-m-footer-copyright {
  font-family: Barlow Semi Condensed;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}
.i-m-footer-copyright-two {
  display: none;
}
.i-m-footer-img {
  width: 240px;
  box-shadow: 2px 2px 2px 0px #999cae4d;
  transition: all 0.3s ease-in-out;
  border-radius: 12px;
}

.i-m-footer-img:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 14px 4px #1d2b1e inset;
}
@media screen and (min-width: 1204px) {
  .i-m-footer-container {
    padding: 64px 120px 549px;
    margin: auto;
    display: flex;
    flex-direction: row;

    gap: 165px;
    margin: auto;
    width: 1440px;
    height: 677px;

    background-image: url("/img/_footer_dskt.png");
  }

  .i-m-footer-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
  }

  .i-m-footer-text {
    font-family: Barlow Semi Condensed;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-offset: 0%;
    text-decoration-thickness: 0%;
    text-decoration-skip-ink: auto;
  }

  .i-m-footer-copyright {
    font-family: Barlow Semi Condensed;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 8%;
  }
  .i-m-footer-copyright-two {
    display: flex;
  }
  .i-m-footer-copyright-one {
    display: none;
  }
}

.i-m-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 64px 26px;
  background: #0e190f;
  z-index: 1000;
  display: none;
}

.i-m-cookie-popup-text-two {
  font-family: Barlow Semi Condensed;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

.i-m-cookie-button-container {
  padding: 32px 0 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.i-m-cookie-button {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #eeeeee;
  font-family: Barlow Semi Condensed;
  font-weight: 400;
  font-style: Regular;
  font-size: 12px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  color: #eeeeee;
  text-transform: uppercase;
  padding-top: 8px;
  padding-right: 10px;
  padding-bottom: 8px;
  padding-left: 10px;
}

#accept-cookies {
  box-shadow: 0px 4px 4px 0px #00000040;
  background: #eeeeee;
  color: #0e190f;
  border-radius: 4px;
}

.i-m-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (min-width: 1204px) {
  .i-m-cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 64px;
  }

  .i-m-cookie-popup-text-two {
    font-family: Barlow Semi Condensed;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;

    width: 632px;
  }

  .i-m-cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 32px;
  }

  .i-m-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    padding: 80px 253px;
    display: none;
  }
}
